/* .card{
    text-align: center;
    width: 254.5px;
    height: 340px;
    background-color: white;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
    border-radius: 12px 12px 0 0;
}

.content-product{
    float: left;
} */